<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <mat-card-title> Cadastro de Projetos </mat-card-title>
      <div fxLayout="column">
        <form [formGroup]="formExistingProject">
          <mat-form-field
            *ngIf="projects.length > 0"
            class="full-width"
            appearance="outline"
          >
            <mat-label>Selecione um Projeto</mat-label>
            <mat-select (focus)="onFocus()" formControlName="edit_informacoes">
              <mat-option
                *ngFor="let project of projects"
                [value]="project.id"
              >
                {{ project.id }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <form [formGroup]="formProject" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Informações</mat-label>
            <input
              (focus)="onFocus()"
              matInput
              placeholder="Informações"
              formControlName="informacoes"
            />

            <mat-error id="requiredInformationError">
              As informações sobre o projeto são
              <strong>obrigatórias</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Outsourcing</mat-label>
            <input
              (focus)="onFocus()"
              matInput
              placeholder="Outsourcing"
              formControlName="outsourcing"
            />

            <mat-error id="requiredOutsourcingError">
              O outsourcing sobre o projeto é
              <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field
            class="full-width"
            appearance="outline"
            hideRequiredMarker
          >
            <mat-label>Data de Início</mat-label>
            <input matInput [matDatepicker]="inicio" formControlName="inicio" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="inicio"
            ></mat-datepicker-toggle>
            <mat-datepicker #inicio></mat-datepicker>

            <mat-error id="requiredStartError">
              A data de início do projeto é
              <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field
            class="full-width"
            appearance="outline"
            hideRequiredMarker
          >
            <mat-label>Data de Encerramento</mat-label>
            <input
              matInput
              [matDatepicker]="encerramento"
              formControlName="encerramento"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="encerramento"
            ></mat-datepicker-toggle>
            <mat-datepicker #encerramento></mat-datepicker>

            <mat-error id="requiredEndingError">
              A data de encerramento do projeto é
              <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Horas Orçadas</mat-label>
            <input
              (focus)="onFocus()"
              matInput
              placeholder="Horas Orçadas"
              formControlName="horas_orcadas"
            />

            <mat-error id="requiredHorasOrcadasError">
              A quantidade de horas orçadas do projeto é
              <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Horas Executadas</mat-label>
            <input
              (focus)="onFocus()"
              matInput
              placeholder="Horas Executadas"
              formControlName="horas_executadas"
            />

            <mat-error id="requiredNomeError">
              A quantidade de horas executadas do projeto é
              <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Cancelado?</mat-label>
            <input
              (focus)="onFocus()"
              matInput
              placeholder="Situação"
              formControlName="cancelado"
            />

            <mat-error id="requiredSituationError">
              A situação do projeto é
              <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>

          <div fxLayoutAlign="center center" fxLayoutGap="5px">
            <button
              mat-raised-button
              color="primary"
              id="cadastrar"
              [disabled]="isEditing"
              type="submit"
            >
              CADASTRAR
            </button>
            <button
              mat-raised-button
              color="warn"
              id="editar"
              [disabled]="isDisabled"
              (click)="editProject()"
            >
              EDITAR
            </button>
            <button
              mat-raised-button
              [disabled]="isDisabled"
              color="accent"
              (click)="deleteProject()"
            >
              DELETAR
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
